body {
    background:#EAF7FF;
}

.header {
    background: #BCF7FF;
}

.header-logo {
    padding: 10px;    
}

.header-menu {
    padding: 10px;
    font: Arial;
    font-style: bold;
    font-size: 18px;
}

.header-menu__btexit {
    border-radius: 5px;
    height: 40px;
    width: 120px;
    font: arial;
    font-style: bold;
    font-size: 18px;
}

.main-content {
    margin: 0px;
}

.main-content-title {
    padding-top: 24px;
    padding-bottom: 24px;
    font: arial;
    font-style: bold;
    font-size: 24px;
}

.main-content-subtitle {
    font: arial;
    font-style: bold;
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.washer-list {
    background: #fcfdfd;
    border-radius: 20px;
}

.washer-list-card {
    margin: 12px;
}

.washer__name {
    font: arial;
    font-size: 20;

}

#profile {
  height: 50px;
  width: 50px;  

}
.footer {
    background: #6db2bb;
}



